
.container {
  padding: 0 !important;
  max-width: 100%;
}


.navStyle {
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  height: 45px;
  position: relative;
}

.left-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  font-size: 30px;
  font-weight: 900;
  font-family: "Integral CF", sans-serif;
}

.logo-link {
  text-decoration: none; 
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

.right-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: visible;
}

  .right-icons i {
    font-size: 20px;
    cursor: pointer;
    font-weight: bolder;
  }

.inputSearch {
  width: 450px;
  height: 40px;
  border-radius: 62px;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 0 15px;
  background: #e4e1e1;
}

.inputSearch i {
  font-size: 18px;
  padding-top: 5px;
}

.inputSearch input {
  font-size: 16px;
  background: #e4e1e1;
}

 .inputSearch input:focus {
   outline: none !important;
   box-shadow: none !important;
   border: none !important;
 }

.menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu li {
  position: relative;
  padding: 4px 6px;
  border-radius: 5px;
}

.menu .nav-link {
  text-decoration: none;
  font-size: 17px;
  color: #111;
  cursor: pointer;
}

 .menu > li:hover {
   background: #f2f2f2;
 }

.dropdown {
  position: relative;
}


.submenu.user-dropdown-menu {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: max-content;
  min-width: 150px;
  list-style: none;
  margin: 0;
  padding: 6px 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
  display: none;
  z-index: 9999;
}

.submenu.user-dropdown-menu.open {
  display: block;
}

.submenu.user-dropdown-menu li a {
  padding: 10px 15px;
  display: block;
  text-align: left;
}

.submenu li a:hover {
  background: #f2f2f2;
  border-radius: 5px;
}

.menu > li:has(.submenu.open):hover {
  background: transparent !important;
}

.menu li.dropdown .nav-link::after {
  content: "▾";
  font-size: 12px;
  margin-left: 6px;
  transition: transform .3s ease;
}

.menu li.dropdown.open > .nav-link::after {
  transform: rotate(180deg);
}


.user-dropdown {
  position: relative;
}

.user-name {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
}

.dropdown-icon {
  font-size: 11px;
  transition: transform 0.25s ease;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}

.user-dropdown-menu {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  background: #fff;
  border-radius: 8px;
  width: max-content;
  min-width: 120px;
  padding: 6px 0;
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
  z-index: 9999;
}

.user-dropdown-menu a,
.user-dropdown-menu div {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  color: #111;
  text-decoration: none;
}

.user-dropdown-menu a:hover,
.user-dropdown-menu div:hover {
  background-color: #f2f2f2;
}


.toggleMenu {
  font-size: 28px;
  cursor: pointer;
}

.mobileMenu {
  position: absolute;
  top: 55px;
  left: 0;
  width: 50%;
  background: #fff;
  padding: 20px;
  box-shadow: 0 6px 14px #00000020;
  display: none;
  max-height: 50vh;
  overflow-y: auto;
  z-index: 500;
}

  .mobileMenu.active {
    display: block;
  }

  .mobileMenu ul li {
    padding: 6px 0;
    font-size: 18px;
    border-radius: 5px;
  }

  .mobileMenu ul li:hover {
    background: #f2f2f2;
  }

.mobile-dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  cursor: pointer;
}

.dropdown-arrow {
  transition: 0.3s;
}

.dropdown-arrow.rotate {
  transform: rotate(180deg);
}


@media (max-width: 768px) {

  .menu {
    display: none !important;
  }

  .inputSearch {
    width: auto;
    background: none;
    height: auto;
    padding: 0;
  }

  .inputSearch input {
    display: none;
  }

  .inputSearch i {
    font-size: 20px;
    padding-left: 90px;
    padding-bottom: 3px;
  }

  .navStyle {
    margin: 25px;
    justify-content: space-between;
  }

  .right-icons {
    gap: 10px;
  }

  .mobileMenu {
    padding: 12px 10px;
  
  }

   
  .mobileMenu .user-dropdown-menu {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 8px;
  }
}
