<nav class="navStyle">

  <!-- LEFT: LOGO -->
  <div class="nav-left">
    <i class="bi bi-list toggleMenu d-md-none" (click)="toggleMenu()"></i>

    <a routerLink="/" class="logo-link">
      <h1 class="logo">Shop.Co</h1>
    </a>
  </div>

  <!-- CENTER: MENU -->
  <ul class="nav-menu d-none d-md-flex">

    <!-- Shop -->
    <li class="dropdown"
        (mouseenter)="openMenu('shop')"
        (mouseleave)="closeMenu()"
        (click)="$event.stopPropagation()"
        [class.open]="activeMenu === 'shop'">

      <a class="nav-link">Shop</a>

      <ul class="submenu" [class.open]="activeMenu === 'shop'">
        <li *ngFor="let dept of Departments$ | async">
          <a (click)="updateFilter({ departmentId: dept.departmentId })"
             [routerLink]="['/Products']">
            {{dept.departmentName}}
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a class="nav-link" (click)="updateFilter({ onSale: true })">On Sale</a>
    </li>

    <li>
      <a class="nav-link" (click)="updateFilter({ preset: 1 })">New Arrivals</a>
    </li>

    <!-- Brand -->
    <li class="dropdown"
        (mouseenter)="openMenu('brand')"
        (mouseleave)="closeMenu()"
        (click)="$event.stopPropagation()"
        [class.open]="activeMenu === 'brand'">

      <a class="nav-link">Brand</a>

      <ul class="submenu" [class.open]="activeMenu === 'brand'">
        <li *ngFor="let brand of Brands$ | async">
          <a (click)="updateFilter({ brandId: brand.brandId })"
             [routerLink]="['/Products']">
            {{brand.brandName}}
          </a>
        </li>
      </ul>
    </li>

  </ul>

  <div id="mobileMenu" class="mobileMenu" [class.active]="menuOpen" (mouseleave)="closeMobileMenu()">
    <ul class="list-unstyled m-0">

      <!-- Shop dropdown -->
      <!-- Shop -->
      <li class="mobile-dropdown">

        <div class="mobile-dropdown-header"
             (click)="toggleMenuMobile('shop')">
          <span>Shop</span>
          <i class="bi bi-chevron-down dropdown-arrow"
             [class.rotate]="activeMenu === 'shop'"></i>
        </div>

        <ul class="submenu"
            [class.open]="activeMenu === 'shop'">
          <li *ngFor="let dept of Departments$ | async">
            <a (click)="updateFilter({ departmentId: dept.departmentId })"
               [routerLink]="['/products']">
              {{dept.departmentName}}
            </a>
          </li>
        </ul>

      </li>

      <li><a (click)="updateFilter({ onSale: true })">On Sale</a></li>
      <li><a (click)="updateFilter({ preset: 1 })">New Arrivals</a></li>


      <!-- Brand -->
      <li class="mobile-dropdown">

        <div class="mobile-dropdown-header"
             (click)="toggleMenuMobile('brand')">
          <span>Brand</span>
          <i class="bi bi-chevron-down dropdown-arrow"
             [class.rotate]="activeMenu === 'brand'"></i>
        </div>

        <ul class="submenu"
            [class.open]="activeMenu === 'brand'">
          <li *ngFor="let brand of Brands$ | async">
            <a (click)="updateFilter({ brandId: brand.brandId })"
               [routerLink]="['/products']">
              {{brand.brandName}}
            </a>
          </li>
        </ul>

      </li>
    </ul>
  </div>

  <!-- SEARCH -->
  <div class="nav-search">
    <i class="bi bi-search"></i>
    <input type="text" placeholder="Search products..."
            (keyup.enter)="updateFilter({ search: searchText.value })"
           #searchText/>
  </div>

  <!-- RIGHT: CART + USER -->
  <div class="nav-right ">

    <a routerLink="/Cart"><i class="bi bi-cart"></i></a>

    <div class="user-dropdown"
         (mouseleave)="isDropdownOpen=false">

      <!-- زر الايقونة -->
      <div class="user-trigger"
           (click)="isDropdownOpen = !isDropdownOpen">
        <i class="bi bi-person"></i>

        <ng-container *ngIf="currentUser$ | async as user; else guest">
          <span class="username">{{ user.fullName | shortFullName }}</span>
          <i class="bi bi-caret-down-fill dropdown-icon"
             [class.rotate]="isDropdownOpen"></i>
        </ng-container>

        <ng-template #guest>
          <span class="username">Login</span>
        </ng-template>
      </div>

      <!-- القائمة -->
      <div class="dropdown-menu" *ngIf="isDropdownOpen">

        <ng-container *ngIf="currentUser$ | async as user; else guestMenu">
          <a>Profile</a>
          <a (click)="logout()">Logout</a>
        </ng-container>

        <ng-template #guestMenu>
          <a routerLink="/Login">Login</a>
          <a routerLink="/Register">Register</a>
        </ng-template>

      </div>

    </div>
  </div>

</nav>
