

/*.container {
  
  opacity: 1;
  width: 100%;
  max-width: 1239px;
  margin: 0 auto;
  padding: 20px;
}*/
.row {
  align-items: stretch;
}

.StyleP {
 
  margin-bottom: 30px;
}

.conDetails {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
}
.divImage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 0 0 25%;
  height: 500px;
}
.imagePrev {
  width: 100%;
  max-width: 152px;
  height: 160px;
  border-radius: 20px;
  border: 1px solid #ddd;
  object-fit: cover;
}
.imageLarg {
  flex: 1;
}
.imageLarg img {
  width: 100%;
  max-width: 444px;
  height: 500px;
  border-radius: 20px;
  border: 1px solid #ddd;
  object-fit: cover;
}


.productDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: auto !important;
  max-height: none !important;
  height: 500px;
}

.styleTitleP {
  font-weight: 1000;
  height: 48px;
  white-space: nowrap;
}

.styleDetailsP {
  width: 100%;
  margin: 0; 
  line-height: 1.7;
}


.stars {
  display: flex;
  gap: 5px;
  
  width: 18.49px;
  height: 18.49px;
}

.star {
  width: 25px;
  height: 20.49px;
}

.price {
  opacity: 1;
  gap: 10px;
  display: flex;
  font-size: 22px;
  width: 295px;
  font-weight: 700;
  margin-top: 15px;
}

.afterDis {
  color: gray;
  text-decoration: line-through;
}

.dis {
  color: rgba(255, 51, 51, 1);
  background: rgba(255, 51, 51, 0.1);
  border-radius: 20px;
  display: inline-block;
  line-height: 1.2;
  font-size: 12px;
  padding: 4px 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 45px;
  min-height: 25px;
}

.colors {
  display: flex;
  gap: 10px;
}

.colorBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border:none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.colorBtn.active {
  border: 2px solid black;

}


.checkMark {
  color: white;
  font-size: 20px;
  font-weight: bold;
}


.size {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.sizeBtn {
  padding: 8px 22px;
  border-radius: 20px;
  background: #f3ecec;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
}

 
.sizeBtn.active {
  background: black;
  color: white;

}

 
.sizeBtn.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


.sold {
  position: absolute;
  top: -6px;
  right: -6px;
  font-size: 14px;
  color: red;
}


.divAddToCart {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto !important;
  max-height: none !important;
  gap: 20px;
  margin-top: auto;
}

.butAddNom {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #f3ecec;
  width: 163px;
  height: 45px;
  
}


.addNomStyle {
  font-size: 30px;
  font-weight: 400;
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 1;
  width: 35px;
  height: 27px;
  /* padding-bottom:2px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}


.qty {
  font-size: 18px;
  font-weight: 600; 
  min-width: 20px;
  text-align: center;
}


.butAddCart {
  width: 363px;
  height: 45px;
  border-radius: 62px;
  background: black;
  color: white;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  align-self: flex-start;
 
  border: 1px solid #999;
}

.lineStyle {
  width: 100%;
  border: none;
  border-top: 1px solid #999;
  margin: 15px 0; 
}



@media (max-width: 768px) {

.col-6 
 {
  width: 100% !important;
  display: flex;
  flex-direction: column !important;
}

.imageLarg {
  order: 1;
  width: 100% !important;
  height: auto !important;
}

  .imageLarg img {
    width: 100% !important;
    max-width: none !important;
  }

.divImage {
  order: 2;
  width: 100% !important;
  height: auto !important;
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px !important;
}

.imagePrev {
  width: 100% !important;
  max-width: 145px;
  max-height: 160px;
}

  .productDetails {
   
  }

.styleDetailsP {
  max-width: 358px;
  width: 100% !important;
  font-size: 14px;
  
}
.divAddToCart {
  justify-content: start;
  align-items: start;

}
.butAddCart {
  width: 210px;
  align-items: start;

}

}


.card {
  border-radius: 20px;

 
}



@media (max-width: 768px) {

.productDetails {
  display: flex;
  flex-direction: column;
  height: auto !important;
  max-height: none !important;
  width: 100%;
}

.divAddToCart {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start !important;
  align-items: center !important;
  margin-top: 25px !important;
  order: 999 !important; 
}

.size {
  gap: 18px;
}

}


