  <div class="container ">
  <ng-container *ngIf="Product$ | async as Prod">

    <hr class="lineStyle conDetails">

    <p class="StyleP fs-3"> Home > Shop > {{Prod.departmentName}} > {{Prod.categoryName}} </p>

    <div class="row ">
      <div class="col-6 d-flex gap-3">
        <div class="divImage d-flex flex-column">
          <img *ngFor="let img of Prod.images" class="imagePrev" src={{img.imageUrl}} />
        </div>

        <div class="imageLarg">
          <img src={{Prod.photo}} />
        </div>

      </div>



      <div class="col-6 productDetails">
        <h1 class="styleTitleP"> {{Prod.name | uppercase}}</h1>
        <div class="stars">
          <img class="star" src="assets/images/Star.png" *ngFor="let star of [1,2,3,4,5]" />
        </div>

        <div class="price">
          <p>${{Prod.price}}</p>
          <p class="afterDis">${{Prod.oldPrice}}</p>
          <p class="dis">-{{Prod.discount}}%</p>
        </div>

        <p class="styleDetailsP">
          {{Prod.description}}
        </p>

        <hr class="lineStyle ">


        <p>Select Colors</p>

        <div class="colors">
          <button *ngFor="let Color of Prod.colors"
                  class=" colorBtn "
                  [style.background]="Color.colorName.toLowerCase()"
                  (click)="selectColor(Color.colorId)"
                  [class.active]="selectedColorId === Color.colorId">

            <span class="checkMark"
                  *ngIf="selectedColorId === Color.colorId">
              ✓
            </span>
          </button>


        </div>

        <hr class="lineStyle">



        <p>Choose Size</p>

        <div class="size">
          <button *ngFor="let Size of Sizes$ | async"
                  class="sizeBtn "
                  (click)="selectSize(Size.sizeId)"
                  [class.active]="selectedSizeId === Size.sizeId">
            {{Size.sizeName}}
          </button>

        </div>



        <hr class="lineStyle">


        <div class="divAddToCart">
          <div class="butAddNom">
            <button class="addNomStyle" (click)="decrease()">−</button>
            <span class="qty"> {{quantity}} </span>
            <button class="addNomStyle" (click)="increase()">+</button>
          </div>
          <button class="butAddCart"  (click)="addToCart()">Add to Cart</button>
        </div>

      </div>
    </div>


  </ng-container>
</div>


<app-review [productId]="productId"></app-review>






