

<div class="container ">
  <hr class="lineStyle conDetails">
  <p class="StyleP fs-3"> Home > Cart </p>

  <h1 class="pTitle">YOUR CART</h1>

  <div class="row align-items-start">
    <div class="col-lg-7 col-md-12 px-lg-2">
      <div class="item gap-3 flex-row">
        <!--<ul class="list-group list-group-flush">-->

        <div>
          <img src="../../assets/images/arr1.png" class="imgItem" />
        </div>

        <div class="ditailsItem">
          <div >
            <h4 class="title">Gradient Graphic T-shirt</h4>
            <span>Size: Large</span>
            <br />
            <span>Color: White</span>
            <div class="price">
              <p>$145</p>
            </div>
          </div>
        </div>

          <div class="act">
            <button  class="iDelite"><i class="bi bi-trash"></i></button>
            <div class="divAddToCart ">
              <div class="butAddNom">
                <button class="addNomStyle" (click)="decrease()">−</button>
                <span class="qty"> {{ quantity }} </span>
                <button class="addNomStyle" (click)="increase()">+</button>
              </div>
            </div>
          </div>
        
        <!--</ul>-->

      </div>


    </div>



    <div class="col-lg-5 col-md-12 mt-4 mt-lg-0">
      <div class="divorderSummary">
        <div class="subtotal ">
          <h2 class="orderSummary">Order Summary</h2>
          <div class="summaryRow">
            <span>Subtotal</span>
            <span class="numSubtotal">$565</span>
          </div>

          <div class="summaryRow">
            <span>Discount (-20%)</span>
            <span class="numSubtotal colorSubtotal">-$113</span>
          </div>

          <div class="summaryRow">
            <span>Delivery Fee</span>
            <span class="numSubtotal">$15</span>
          </div>

          <hr class="lineStyle">

          <div class="summaryRow totalRow">
            <span>Total</span>
            <span class="numSubtotal">$467</span>
          </div>

        </div>


        <div class="checkout">
          <div class="inputWrapper">
            <i class="bi bi-tag inputIcon"></i>
            <input type="text" class=" inputCheckout" placeholder="Add promo code" />
          </div>

          <button class="butCheckout">Apply</button>
        </div>

        <div>
          <button class="butAddCart">Go to Checkout</button>
        </div>
      </div>

    </div>
</div>
