
.container {
  background: #efe8e8;
  border-radius: 40px;
  opacity: 1;
  width: 100%; 
  max-width: 1239px; 
  margin: 0 auto; 
  padding: 20px;
}

.styleTitle {
  opacity: 1;
  padding-top: 40px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  font-family: "Integral CF", sans-serif;
  font-weight: 900;
  font-size: 48px;
  align-items: center;
  justify-content: center;
}

.imgDiv {
  gap: 2px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width:100%;
}

.imgDress1 {
  width: 100%;
  max-width: 407px;
  max-height: 289px;
  height: 100%;
  gap: 15px;
  opacity: 1;
  border-radius: 20px;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.imgDress2 {
  width: 100%;
  max-width: 684px;
  height: 100%;
  max-height: 289px;
  gap: 15px;
  opacity: 1;
  border-radius: 20px;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


@media (max-width: 768px) {

  .imgDress1,
  .imgDress2 {
    width: 100% !important;
    max-width: 684px !important;
    height: 289px;
    
  }
}
