
<div class="container">
  <p class="styleTitle">
    BROWSE BY DRESS STYLE
  </p>
  <div >
    <div class="imgDiv">
      <img class="img-fluid rounded imgDress1" src="assets/images/dressStyle1.png" />
      <img class="img-fluid rounded imgDress2" src="assets/images/dressStyle2.png" />
    </div>
    <div class="imgDiv">
      <img class="img-fluid rounded imgDress2" src="assets/images/dressStyle3.png" />
      <img class="img-fluid rounded imgDress1" src="assets/images/dressStyle4.png" />
    </div>

  </div>



</div>
