

:host {
  display: block;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.form-control {
  height: 40px; /* أقل في الارتفاع */
  font-size: 14px; /* تصغير الخط شوية */
 /* تحكم أدق في الارتفاع */
}

.custom-input {
  height: 20px;
  width: 100%;
  padding: 6px 12px; 
}

