
.textInLogo {
  width: 100%;
  min-height: 600px;
  background-image: url('/assets/images/logo.png');
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: auto 100%;
  padding: 80px 30% 80px 60px;
  margin-top: 15px;
}

.mobileOnly {
  display: none;
}

.h1Style {
  font-family: "Integral CF", sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
  max-width: 600px;
  margin-bottom: 20px;
  text-align: left;
}

.h4Style {
  max-width: 500px;
  font-size: 17px;
  color: gray;
  margin-bottom: 25px;
}

.butstyle {
  width: 200px;
  padding: 10px 20px;
  border-radius: 50px;
  background: black;
  color: white;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}


.boxItems {
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemNumber {
  font-size: 38px;
  font-weight: 700;
}

.textBox {
  font-size: 14px;
  margin-top: 5px;
  color: gray;
}

.line {
  width: 1px;
  height: 50px;
  background-color: #ccc;
}



@media (max-width: 768px) {

  .textInLogo {
    background-image: none;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
   
    padding: 40px 16px;
    min-height: auto;
  }

  .mobileOnly {
    display: block;
    width: 100%;
    margin:0;
  }


  .h1Style {
    padding: 20px 10px 0px 20px ;
    font-size: 36px;
    font-weight: 950;
    line-height: 38px;
    text-align: left;
    max-width: 100%;
  }

  .h4Style {
    font-size: 16px;
    text-align: left;
    max-width: 100%;
    padding-left: 20px;
  }

  .butstyle {
    width: 98%;
    margin: 10px;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
  }


  .boxItems {
    width: 85%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
    text-align: center;
    position: relative;
  }

    .boxItems::after {
      content: "";
      width: 2px; 
      height: 50%;
      background: #ccc; 
      position: absolute;
      top: 0%; 
      left: 50%; 
      transform: translateX(-50%);
    }

    
    .boxItems .itemNumber:nth-child(5) {
      grid-column: 1 / -1;
    }

 
  .line {
    display: none !important;
  }

  .itemNumber {
    font-size: 28px;
  }

  .textBox {
    font-size: 12px;
    
  }
}
