

<div class="container conStyle">

  <div class="latestOffers">
    <p class="latestText">
      STAY UPTO DATE ABOUT OUR LATEST OFFERS
    </p>

    <div class="divInput">
      <input class="input" placeholder="Enter your email address" />
      <input class="input" placeholder="Subscribe to Newsletter" />
    </div>
  </div>

  <div class="footer">
    <div class="footerShop">
      <h1 class="logo">
        SHOP.CO
      </h1>
      <p>
        We have clothes that suits your style and which you’re proud to wear. From women to men.
      </p>

      <div style="display:flex; gap:20px;">
        <i class="fa-brands fa-twitter" style="font-size:28px; color:#1DA1F2;"></i>
        <i class="fa-brands fa-facebook" style="font-size:28px; color:#1877F2;"></i>
        <i class="fa-brands fa-instagram" style="font-size:28px; color:#E1306C;"></i>
        <i class="fa-brands fa-github" style="font-size:28px; color:#181717;"></i>
      </div>


    </div>


    <div class="latestCompany">
      <h5>COMPANY</h5>
      <p>About</p>
      <p>Features</p>
      <p>Works</p>
      <p>Career</p>
    </div>

    <div class="footerHelp">
      <h5>HELP</h5>
      <p>Customer Support</p>
      <p>Delivery Details</p>
      <p> Terms & Conditions</p>
      <p>Privacy Policy</p>
    </div>

    <div class="footerFAQ">
      <h5>FAQ</h5>
      <p>Account</p>
      <p>Manage Deliveries</p>
      <p>Orders</p>
      <p>Payments</p>
    </div>

    <div class="footerResources">
      <h5>RESOURCES</h5>
      <p>Free eBooks</p>
      <p>Development Tutorial</p>
      <p>How to - Blog</p>
      <p>Youtube Playlist</p>
    </div>

    <div>
    </div>
  </div>



  <div class="end">
    <hr class="lineStyle">
    <p class="divLogos">Shop.co © 2000-2023, All Rights Reserved</p>
    <div class="divLogos">
      <img src="assets/images/Visa.png" />
      <img src="assets/images/Badge.png" />
      <img src="assets/images/PayPal.png" />
      <img src="assets/images/ApplePlay.png" />
      <img src="assets/images/GooglePlay.png" />
    </div>
  </div>
</div>
