

/*  التابات */
.custom-tabs .nav-link {
  padding: 8px 16px;
  padding-bottom: 20px;
  font-size: 20px;
  color: #555;
  font-weight: 400;
  border: none;
  position: relative;
  background: transparent;
  line-height: 1;
}


.tap {
  width: 100%;
  max-width: 1240px;
  margin: auto;
}


/* خط خفيف ثابت لأسفل كل التابات*/

.custom-tabs {
  position: relative;
  border: none;
}

  .custom-tabs::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ddd;
  }


  /*  شكل اللينكات (التابات)*/

  .custom-tabs .nav-link {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0;
    color: #555;
    border: none !important;
  }

    .custom-tabs .nav-link::after {
      display: none !important;
    }


    /*  الاكتيف*/

    .custom-tabs .nav-link.active {
      font-size: 22px;
      font-weight: 400;
      color: #000;
    }


      .custom-tabs .nav-link.active::before {
        content: "";
        position: absolute;
        left: 10%;
        bottom: 0;
        width: 80%;
        height: 2px;
        background: #000;
        border-radius: 8px;
        z-index: 5;
      }

.reviews {
  font-size: 28px;
  width: 295px;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}

.spanReviews {
  font-size: 20px;
  font-weight: 400;
  color: #555;
}

.filter-dropdown {
  position: relative;
  display: inline-block;
}

.filter-btn {
  padding: 10px 16px;
  cursor: pointer;
  background: #f3ecec;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.arrow {
  margin-left: 6px;
  font-size: 14px;
}

.filter-menu {
  position: absolute;
  top: 45px;
  left: 0;
  width: 180px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 20;
}

.item {
  padding: 10px 15px;
  cursor: pointer;
}

  .item:hover {
    background: #f6f6f6;
  }


.divReviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  flex-wrap: wrap;
}



.butstyle {
  max-width: 188px;
  width: 100%;
  height: 45px;
  border-radius: 50px;
  background: black;
  color: white;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}




.fontIFilter {
  width: 45px;
  height: 45px;
  background: #f3ecec;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 0;
}

  .fontIFilter i {
    font-size: 22px;
    line-height: 1 !important;
    margin: 0;
    padding: 0;
  }



.filterReviews {
  display: flex;
  align-items: center;
  gap: 10px;
}


.Latest {
  border-radius: 40px;
  background: #f3ecec;
  padding: 0 20px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 140px;
  width: 100%;
  white-space: nowrap;
  gap: 15px;
}

.filter-menu {
  position: absolute;
  top: 50px;
  left: 0;
  background: white;
  border-radius: 10px;
  width: 160px;
  padding: 10px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

  .filter-menu .item {
    padding: 10px 15px;
    cursor: pointer;
  }

    .filter-menu .item:hover {
      background: #f7f7f7;
    }



.card {
  max-width: 570px;
  width: 100%;
  height: 240px;
  border-radius: 20px;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 15px;
}

.divLarge {
  max-width: 546px;
  width: 100%;
  height: 139px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px
}

.divSmall {
  max-width: 522px;
  width: 100%;
  height: 139px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 14px;
}

.sizeP {
  font-weight: 900;
  margin-bottom: 80px;
  font-size: 20px;
  margin-right: 15px;
  color: gray;
}


.postIn {
  max-width: 546px;
  width: 100%;
  height: 22px;
  padding: 25px;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 600px) {


  .Latest {
    display: none !important;
  }


  .divReviews {
    flex-wrap: nowrap !important;
  }

  .filterReviews {
    flex-wrap: nowrap !important;
  }


  .butstyle {
    max-width: 140px;
    font-size: 15px;
    flex-shrink: 1;
    padding: 0 10px;
  }


  .fontIFilter {
    flex-shrink: 0;
  }
}
