
<div class=" container ">
  <h1 class="h1Style">
    NEW ARRIVALS
  </h1>
</div>

<div class="imgDiv">
  <div>
    <a [routerLink]="['/ProductDetail']">
      <img class="img-fluid rounded imgArrivals" src="assets/images/arr1.png" />
    </a>

    <div class="textImg">
      <p>T-SHIRT WITH TAPE DETAILS</p>
      <div class="stars">
        <img class="star" src="assets/images/Star.png" *ngFor="let star of [1,2,3,4,5]" />
      </div>

      <div class="price">
        <p>$120</p>
        <p class="afterDis"></p>
        <!--<p class="dis"></p>-->
      </div>
    </div>
  </div>

  <div>
    <a [routerLink]="['/ProductDetail']">
      <img class="img-fluid rounded imgArrivals" src="assets/images/image 2.png" />
    </a>

    <div class="textImg">
      <p>SKINNY FIT JEANS</p>
      <div class="stars">
        <img class="star" src="assets/images/Star.png" *ngFor="let star of [1,2,3,4,5]" />
      </div>

      <div class="price">
        <p>$240</p>
        <p class="afterDis">$260</p>
        <p class="dis">-20%</p>
      </div>
    </div>
  </div>

  <div>
    <a [routerLink]="['/ProductDetail']">
      <img class="img-fluid rounded imgArrivals" src="assets/images/image3.png" />
    </a>

    <div class="textImg">

      <p>CHECKERED SHIRT</p>

      <div class="stars">
        <img class="star" src="assets/images/Star.png" *ngFor="let star of [1,2,3,4,5]" />
      </div>

      <div class="price">
        <p>$180</p>
        <p class="afterDis"></p>
        <!--<p class="dis"></p>-->
      </div>
    </div>
  </div>

  <div>
    <a [routerLink]="['/ProductDetail']">
      <img class="img-fluid rounded imgArrivals" src="assets/images/arr4.png" />
    </a>

    <div class="textImg">
      <p>SLEEVE STRIPED T-SHIRT</p>
      <div class="stars">
        <img class="star" src="assets/images/Star.png" *ngFor="let star of [1,2,3,4,5]" />
      </div>

      <div class="price">
        <p>$130</p>
        <p class="afterDis">$160</p>
        <p class="dis">-30%</p>
      </div>
    </div>
  </div>


  <button class="butstyle">View All</button>

  <hr class="lineStyle">

</div>
