
<div class=" container">
  <h1 class="h1Style">
  </h1>
</div>
<ng-container *ngIf="newArrivals$ | async as data">

  <app-products title="NEW ARRIVALS" [Products]="data.items" ></app-products>


  <div class="pt-3">
    <app-pagination *ngIf="showPagination"
                    [page]="data.page" [totalPages]="data.totalPages"
                    (pageChange)="onPageChange($event)"></app-pagination>
  </div>


  <div class="butDiv">
    <button class="butstyle"
            [routerLink]="['/NewArrivals']">
      View All
    </button>
  </div>

</ng-container>

<hr class="lineStyle">
