
.h1Style {
  align-items: center;
  justify-content: center;
  opacity: 1;
  display: flex;
  font-family: "Integral CF", sans-serif;
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 48px;
  line-height: 100%;
}

.butDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.butstyle {
  width: 200px;
  height: 50px;
  border-radius: 62px;
  background: white;
  color: black;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  align-self: flex-start;
  margin: 25px;
  border: 1px solid #999;
}

.lineStyle {
  width: 100%;
  border: none; 
  border-top: 1px solid #999; 
  margin: 15px 0; 
}
