
<div class=" container">
  <h1 class="h1Style"> {{title}}</h1>
</div> 

<ng-container *ngIf="Products$ | async as data">

  <div class="imgDiv">
    <app-product-card *ngFor="let Prod of data.items"
                      [product]="Prod">
    </app-product-card>
  </div>
  <app-pagination *ngIf="showPagination"
                  [page]="data.pageNumber"
                  [totalPages]="data.totalPages"
                  (pageChange)="onPageChange($event)">
  </app-pagination>

  <div class="butDiv" *ngIf="showButtonInHome">
    <button class="butstyle" [routerLink]="['/NewArrivals']">
      View All
    </button>
  </div>

</ng-container>

<hr class="lineStyle">


